p{}
.class1{
    color:blue;
    font-style: italic;
    font-size: 10pt;
}
.class2{
    color: red;
    background-color: black;
    letter-spacing: 1.4em;
}
.class3{
    color: grey;
    text-decoration: underline;
}
